*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#193C40,#2E5902,#D96941,#A62B1F);
    padding: 10px;
}
.shop-list{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 80px;
}
.shop-list h2{
    color: #193C40;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;

}
.shop-list h2 img{
    width: 40px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#193C40 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #fff;
    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e6683a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius:40px ;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(/unchecked.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(/checked.png) ;
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align:center ;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
@media only screen and (max-width: 600px) {
    .shop-list {
        padding: 20px;
    }

    .row {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0;
    }

    input {
        margin-bottom: 15px;
    }

    button {
        width: 100%;
    }

    ul li {
        padding-left: 20px;
    }
}